.container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

}

.container h1,
.container h1:visited {
    color: white
}

.header {
    display: flex;
    flex-direction: row;
    background-color: #00c4cc;
    width: 100%;
    color: #fff;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 15px 10%;
    box-sizing: border-box;
}